@import './themes/light';
@import './themes/dark';
@import './variables/global';
@import './reset';

.app {
  font: var(--font-m);
  background-color: var(--background-primary-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app.inverted {
  background-color: var(--background-inverted-color);
  color: var(--inverted-primary-color);
}

.content {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
}

*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--background-primary-color);       
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-inverted-color);    
  border-radius: 20px;     
  border: 4px solid var(--background-primary-color);   
}
