@import './themes/light';
@import './themes/dark';
@import './variables/global';
@import './reset';

.app {
  font: var(--font-m);
  background-color: var(--background-primary-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app.inverted {
  background-color: var(--background-inverted-color);
  color: var(--inverted-primary-color);
}

.content {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
}
