.wrapper {
  height: var(--navbar-height);
  padding: 15px;
  background-color: var(--background-inverted-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleWithLinks {
  display: flex;
  gap: 80px;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}


