.wrapper {
  height: var(--navbar-height);
  padding: 15px;
  background-color: var(--background-inverted-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginButton {
  margin-left: auto;
}

.titleWithLinks {
  gap: 80px;
}



