.wrapper {
  padding: 20px;
  border: 1px solid var(--background-inverted-color);
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.editing {
  border-color: var(--accent-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 10px;
}
