.light {
  --background-primary-color: #ebebeb;
  --background-inverted-color: #1f1f1f;
  --primary-color: #1f1f1f;
  --secondary-color: #333;
  --inverted-primary-color: #ebebeb;
  --inverted-secondary-color: #8A8A8A;
}
