@mixin cut-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tile {
	transition: 0.2s transform;
	width: 230px;
	cursor: pointer;

	.imageWrapper {
 		position: relative;
	}

	.image {
		display: block;
		width: 200px;
		height: 200px; 
		object-fit: cover;
	}

	.date {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
	}

	.info {
		margin-top: 8px;
	}

	.types {
		width: 130px;

		p {
			@include cut-text
		}  
	}

	.views {
		margin-left: auto;
		margin-right: 8px;
	}

	.title {
		margin-top: 8px;
		width: 180px;

		p {
			@include cut-text
		}
	}

	&:hover {
		transform: scale(1.01);
		opacity: 0.9;

		.date {
			display: block;
		}
	}
} 

.list {
	width: 100%;

	.title {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.image {
		width: 100%;
		max-height: 250px;
		object-fit: cover;
		margin: 16px 0;
	}

	.textBlock {
		max-height: 200px;
		overflow-y: hidden;
		margin-bottom: 16px;
	}

	.views {
		margin-left: auto;
		margin-right: 8px;
	}
}
