.wrapper {
	// height: 100%;
	display: block;
}

.recommendations, .comments {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.recommendationsList {
	overflow-y: hidden;
	overflow-x: auto;
	flex-wrap: nowrap;
}
