.skeleton {
	background-color: var(--skeleton-color);
  animation: pulse 1s linear infinite;
	box-shadow: 0 0 10px var(--skeleton-shadow);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
 
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
